<section class="row pricelist">
    <div class="col-lg-8 col-lg-offset-2">
        <h1>Редактор прайс-листа</h1>
        <button class="show-price btn btn-primary">Показать прайс</button>

        <table class="table table-bordered table-hover price">
            <thead>
                <tr>
                <th>Наименование</th>
                <th>Цена&nbsp;USD</th>
                <th>Срок&nbsp;поставки,&nbsp;дней</th>
            </tr>    
            </thead>
            <tbody></tbody>
        </table>
        <input type="submit" class="save-price btn btn-primary" />
    </div> 
</section>